@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@section  PageHeader{
    @Html.Partial("Partials/_FrontPageBanner")
}
<div class="page-part page-part-image-left page-part-image-left-50 page-part-image-left-50-offset page-part-image-side page-part-image-side-50 page-part-image-side-50-offset page-part-template page-part-template-page-part-image-left-50-offset">
    <div class="page-part-images equal fade-in">
        <img src="~/Content/images/New/Test-image.png" />
    </div>
    <div class="page-part-content content-block equal fade-in">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="headline text-center"> OUR MEMBERSHIPS</h1>
            </div>
            <div class="col-sm-12 text-center">
                <img src="~/Content/images/box_tagline_box_front.png" />
            </div>
            <div class="col-sm-12">
                <p>
                    With 3 levels of memberships to choose, and our exclusive R+R compensation system allow Luxxium to propel you to new earning heights. Explore otherwise unattainable,
                    breakthrough skincare products at a fraction of the cost. Innovative at home LED technology is now within your reach. Age reversing, cell renewal, body care,
                    lifestyle items and more are all part of the Luxxium family collection of products, each targeting an array of markets in which to purchase for yourself or provide to others.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="page-part page-part-image-right page-part-image-right-50 page-part-image-right-50-offset page-part-image-side page-part-image-side-50 page-part-image-side-50-offset page-part-template page-part-template-page-part-image-right-50-offset">
    <div class="page-part-images equal fade-in">
        <img src="~/Content/images/New/Test-image.png" />
    </div>
    <div class="page-part-content content-block equal fade-in">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p style="text-align:center"><strong>R + R CLUB</strong> <strong>MEMBER LEVEL MEMBERSHIP</strong></p>

                <a class="btn btn-default btn-block home-btn" href="@Url.Action("Index", "Checkout", new { type = CheckoutFlowType.SimpleEnrollment })">Join now</a>
            </div>
            <div class="col-sm-12">
                <p>
                    At the introductory R + R Club Member level as part of our Renew and Reward system, seize the opportunity to test and try our elite product lines and earn rewards and points.
                    Member level subscribers enjoy the unique chance to be introduced to Luxxium and benefit from our generous incentives.
                </p>
            </div>
            <div class="col-sm-12">
                <ul>
                    <li>Free priority shipping on all orders</li>
                    <li>60%&nbsp;&nbsp;off all products&nbsp;</li>
                    <li>Earn rewards points that may be used to purchase items</li>
                    <li>Earn bonus reward points for referrals&nbsp;</li>
                    <li>Quarterly gift&nbsp;&nbsp;</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="page-part page-part-image-left page-part-image-left-50 page-part-image-left-50-offset page-part-image-side page-part-image-side-50 page-part-image-side-50-offset page-part-template page-part-template-page-part-image-left-50-offset">
    <div class="page-part-images equal text-center section-dark fade-in">
        <img src="~/Content/images/New/Test-image.png" />
    </div>
    <div class="page-part-content content-block equal fade-in">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p style="text-align:center"><strong>INFLUENCER LEVEL MEMBERSHIP</strong></p>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-block home-btn" href="@Url.Action("Index", "Checkout", new { type = CheckoutFlowType.SimpleEnrollment })">Join now</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-block home-btn" href="@Url.Action("CompensationPlan", "Home")">Commission Plan</a>
            </div>
            <div class="col-sm-12">
                <p>
                    As an Influencer, join visionaries who want to take advantage of Luxxium’s turn key business platform to drive their earning income to a substantial horizon.
                    Produce residual revenue almost immediately from a collection of luxurious products and an unmatched sales and training support system
                </p>
            </div>
            <div class="col-sm-12">
                <ul>
                    <li>All the benefits of Member </li>
                    <li>Weekly Product/ Sales Training</li>
                    <li>70% off all products</li>
                    <li>Monetary commissions</li>
                    <li>Weekly payouts</li>
                    <li>Bonuses</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-part page-part-image-right page-part-image-right-50 page-part-image-right-50-offset page-part-image-side page-part-image-side-50 page-part-image-side-50-offset page-part-template page-part-template-page-part-image-right-50-offset">
    <div class="page-part-images equal fade-in">
        <img src="~/Content/images/New/Test-image.png" />
    </div>
    <div class="page-part-content content-block equal fade-in">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p style="text-align:center"><strong>RETAILER</strong></p>
            </div>
            <div class="col-sm-12">
                <a class="btn btn-default btn-block home-btn" href="@Url.Action("Index", "Checkout", new { type = CheckoutFlowType.SimpleEnrollment })">Join now</a>
            </div>
            <div class="col-sm-12">
                <p>
                    Retail membership is reserved for current retail business owners looking to enhance their income and diversity using current storefronts and customer base.
                    Perfect for anyone in the aesthetics, lifestyle and wellness industries.
                </p>
            </div>
            <div class="col-sm-12">
                <ul>
                    <li>Increase your sales</li>
                    <li>Complete and Convenient Business automation</li>
                    <li>Weekly payouts and training</li>
                    <li>Exclusive retail only promotions </li>
                    <li>Outstanding product training, and support</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-part-image">
    <div class="" style="background-image:url(/Content/images/shutterstock_516001579.jpg);">

    </div>
</div>
