@model SimpleEnrollmentFlow
@section PageHeader{}
<style>
    #main-header {
        background-color: #000000;
    }
</style>
<div id="checkout-page">
    <div class="wrap">
        <div id="sidebar-form">
            <div class="pull-right main">

                @using (Html.BeginForm("SubmitSimpleEnrollment", "Checkout", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "beginRequest",
                    OnFailure = "saveFailed"
                }))
                {
                    @Html.HiddenFor(c => c.CurrentStep)
                    @Html.Partial("Partials/_CheckoutStepsList", Model)
                    <section id="checkout-form-container">
                        @if (Model.CurrentStep == CheckoutSteps.CustomerInformation)
                        {
                            <div id="information" class="step1">
                                @Html.EditorFor(c => c.InformationStep, "ContactInformation")
                            </div>
                        }
                        @if (Model.CurrentStep == CheckoutSteps.CompleteCheckout)
                        {
                            <div id="information" class="step1">
                                @Html.DisplayFor(c => c.CheckoutCompleteStep, "CheckoutCompleted")
                            </div>
                        }
                    </section>
                    @Html.Partial("Partials/_CheckoutStepFooter", Model)
                }
            </div>
        </div>
        <aside id="sidebar-cart">
            <section id="cart">
                @Html.Partial("Partials/_Enrollmentinformation")
            </section>
        </aside>
    </div>
</div>

<script>

    function beginRequest(e) {
        console.log(e);
    }
    function SaveFailed(response) {
        alert(response);
    }
</script>