@model SimpleEnrollmentFlow
@{
    Layout = "~/Views/Checkout/_CheckoutLayout.cshtml";
}
<div id="checkout-page">
    <div class="row">
        <div id="sidebar-form" class="col-sm-6">
            <div class="main">

                @using (Html.BeginForm("SubmitSimpleEnrollment", "Checkout"))
                {
                    @Html.HiddenFor(c => c.CurrentStep)
                    @Html.Partial("Partials/_CheckoutStepsList", Model)
                    <section id="checkout-form-container">
                        @if (Model.CurrentStep == CheckoutSteps.CustomerInformation)
                        {
                            <div id="information" class="step1">
                                @Html.EditorFor(c => c.InformationStep, "ContactInformation")
                            </div>
                        }
                        @if (Model.CurrentStep == CheckoutSteps.CompleteCheckout)
                        {
                            <div id="information" class="step1">
                                @Html.DisplayFor(c => c.CheckoutCompleteStep, "CheckoutCompleted")
                            </div>
                        }
                    </section>
                    @Html.Partial("Partials/_CheckoutStepFooter", Model)
                }
            </div>
        </div>
        <div id="sidebar-cart" class="col-sm-6">
            <section id="cart">
                @Html.Partial("Partials/_Enrollmentinformation")
            </section>
        </div>
    </div>
</div>