@section  PageHeader{
    @Html.Partial("~/Views/Shared/Partials/_PageBanner.cshtml")
}

<div class="container">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-4">
            @Html.Partial("~/Views/Shared/Partials/_LeftImageMenu.cshtml")
        </div>
        <div class="col-xs-12 col-md-8">
            <p style="text-align:center" class="has-normal-font-size"><strong>Our exclusive RENEW AND REWARD program, or R+R , is your monthly subscription shipment of products and convenient, effortless access to look better, feel better, and live better!</strong></p>
            <img src="~/Content/images/box_interior_4.jpg?resize=760%2C507&amp;ssl=1" style="width: 100%;" />
            
            <p style="font-size:14px;text-align:center">Choose a monthly regimen of mix and match skincare items tailored to your personal needs by selecting from our extensive catalog of products, or automatically receive our recommenced daily essentials that include items featured in the Kristals Rock Crystal skincare line of: Cleansing Milk, Instant Skin Polisher Peel, and Refining Moisturizer for either dry or oily skin.</p>

            <div class="row" style="margin: 30px 0;">
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="wp-block-button aligncenter is-style-squared"><a class="rounded-button gold" href="https://luxxium.net/opportunity/member-level/">CLUB MEMBER</a></div>
                </div>

                <div class="col-xs-12 col-md-4 text-center">
                    <div class="wp-block-button aligncenter is-style-squared"><a class="rounded-button gold" href="https://luxxium.net/opportunity/influener-level/">INFLUENCER</a></div>
                </div>

                <div class="col-xs-12 col-md-4 text-center">
                    <div class="wp-block-button aligncenter is-style-squared"><a class="rounded-button gold" href="https://luxxium.net/opportunity/retail-level/">RETAILER</a></div>
                </div>
            </div>

            <p style="text-align:center"><strong>R +R allows Luxxium to offer you the most significant deep discounts on a vast array of opulent beauty merchandise and collections. By holding a high rapport with the industry’s leading beauty innovators and combining retail with our affiliate business system, Luxxium has been afforded the opportunity to sell products at exclusive membership only prices. </strong></p>

            <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>

            <h2 style="text-align:center">YOUR R + R BENEFITS INCLUDE</h2>

            <hr class="wp-block-separator is-style-wide">

            <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>

            <ul><li>CUSTOMIZABLE PRODUCT SELECTION</li><li>CHANGE YOUR SHIPMENT SELECTIONS MONTHLY IF DESIRED</li><li>DEEP DISCOUNTS ON PRODUCTS; UP TO 70%</li><li>FREE QUARTERLY GIFTS</li><li>CONVENIENT AND EFFORTLESS MONTHLY SHIPMENTS</li><li>FREE SHIPPING ON ALL ORDERS</li></ul>

            <p style="text-align:center">The Luxxium business plan boasts a comprehensive and complete earning system as part of our affiliate program. Although the monthly R + R subscription is not mandatory in order to maintain your Luxxium membership, we do encourage you to enjoy the many benefits we have to offer through our monthly subscription. </p>

            <p style="text-align:center"><a href="@Url.Action("Contact", "Home")">CONSULT WITH A SKINCARE SPECIALIST!</a><br></p>

            <div class="row" style="margin: 30px 0;">
                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <figure class="wp-block-image is-resized"><img src="~/Content/images/Amber_set_grande_products_page.jpg?resize=300%2C300&amp;ssl=1" alt="" /><figcaption>UP TO 70% OFF RETAIL PRICES <br></figcaption></figure>

                    <hr class="wp-block-separator">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <figure class="wp-block-image is-resized"><img src="~/Content/images/shipping.jpg?resize=300%2C300&amp;ssl=1" alt="" /><figcaption>FREE PRIORITY SHIPPING<br></figcaption></figure>

                    <hr class="wp-block-separator">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <figure class="wp-block-image is-resized"><img src="~/Content/images/rc_micropolish_cleanser.jpg?resize=300%2C300&amp;ssl=1" alt="" /><figcaption>UNIQUE REWARD SYSTEM &amp; GIFTS<br></figcaption></figure>

                    <hr class="wp-block-separator">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <figure class="wp-block-image is-resized"><img src="~/Content/images/box_logo_2_set2.jpg?resize=300%2C300&amp;ssl=1" alt="" /><figcaption>CUSTOMIZED MONTHLY SHIPMENTS</figcaption></figure>

                    <hr class="wp-block-separator">
                </div>
            </div>

            <div class="wp-block-image"><figure class="aligncenter"><img src="~/Content/images/shutterstock_1132149689.jpg?resize=760%2C258&amp;ssl=1" alt="" /></figure></div>

            <div class="col-xs-12 text-center" style="margin: 30px 0;"><a class="rounded-button gold" href="https://luxxium.net/membership-level/" style="background-color:#a3852e">JOIN NOW</a></div>

            <figure class="wp-block-image"><img src="~/Content/images/box_tagline_box_front.png?resize=760%2C181&amp;ssl=1" alt="" /></figure>

            <hr class="wp-block-separator is-style-wide">

            <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>

            <div class="row">
                <div class="col-xs-12 col-md-4 text-center">
                    <a class="rounded-button gold" href="@Url.Action("MemberLevel", "Home")">CLUB MEMBER</a>
                </div>

                <div class="col-xs-12 col-md-4 text-center">
                    <a class="rounded-button gold" href="@Url.Action("MemberLevel", "Home")">INFLUENCER</a>
                </div>

                <div class="col-xs-12 col-md-4 text-center">
                    <a class="rounded-button gold" href="@Url.Action("MemberLevel", "Home")">RETAILER</a>
                </div>
            </div>

            <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>

        </div>
    </div>
</div>